/*!*默认滚动条样式*!*/
*{padding:0;margin:0;
    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently

not supported by any browser */}
body,html{height:99.9%;}
/*#app{overflow: hidden;height:50%;}*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border: 1px #d3d3d3 solid;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
    background: #eee;
}
::-webkit-scrollbar-thumb {
    border: 1px #808080 solid;
    border-radius: 10px;
    background: #999;
}
::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}
#app{display:block;height:100%;}
.invoice{
    position: relative;
    height: 100%;
}
.information,.imgAmdListBox{
    position: absolute;
    width: 50%;
    height:100%;
}
.imgAmdListBox{
    overflow: hidden;
}
.img_move_box{
    position: absolute;
    height:100%;
}
.inTable input{
    width:100%;
}
.information{
    left: 50%;
    overflow: auto;
}
.imgButBox{
    position: relative;
    top:100px;
}
.omtImg{
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0);
}
.direction{
    position: absolute;
    bottom: 0;
}
.direction >div,.direction >div>div{
    display: inline-block;
}
#appList{
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 2;
    background: #fff;
    overflow: auto;
    width: 50%;
}
#appList>div>div{
    width: 150px;
    display: inline-block;
    padding:2px 4px;
    margin: 1px 1px;
}
#appList>div>div:not(:first-child){
    background: rgba(0,255,0,.2);
    box-shadow: 1px 2px 5px rgba(0,0,0,.2);
    cursor:pointer;
    border-radius:2px;
}
#appList>div>div:first-child{
    text-align: right;
    background: rgba(0,0,0,.1);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
#suspensionTitle{
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    background: #fff;
    display: none;
}
#suspensionTitle>div{
    background: rgba(0,255,0,.2);
    padding:3px 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.2);
    border-radius: 5px;
}
.greenIdentification{
    background: rgba(0,255,0,.3);
}
.blackIdentification{
    background: rgba(0,0,0,.5);
}
/* 展示框样式 */
#ShowDiv{
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: rgba(0,150,136,.3);
    /* border: 2px solid #fc5943; */
}
/* 提交按钮样式 */
#submit{
    height: 40px;
    background-color: #009688;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
}