<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/custom_visualization/layui/css/layui.css">
</head>

<body style="padding:0 10px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend id="title_type_txt">文件上传</legend>
    </fieldset>
    <div class="layui-upload">
        <div class="layui-form-item">
            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择文件</button>
            <div class="layui-inline">
                <label class="layui-form-label">业务号码</label>
                <div class="layui-input-inline" id="yrwu">
                    <input type="text" name="email" lay-verify="email" id="BT_inp" autocomplete="off" class="layui-input"
                        onchange="data_list(this)" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
                </div>
            </div>
        </div>
        <div class="layui-upload-list">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="demoList"></tbody>
            </table>
        </div>
        <button type="button" class="layui-btn" id="testListActions" onclick="fun1()">开始上传</button>
        <button type="button" class="layui-btn" id="testListAction" style="display: none">开始上传</button>
    </div>
    <script src="../../../static/custom_visualization/js/jquery-2.1.1.min.js"></script>
    <script src="../../../static/custom_visualization/js/getImgURL.js"></script>
    <script src="../../../static/custom_visualization/layui/layui.js"></script>
    <script src="../../../static/custom_visualization/js/purpose.js"></script>
    <script src="../../../static/custom_visualization/js/index.js"></script>
</body>

</html>